/*

P03: PORTFOLIO PROJECT
FLEXBOX.CSS
By Calista Alex

*/

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.container .item {
	flex: 1 1 15em;
	padding: 1rem 2rem 2rem 2rem;
	background-color: transparent;
}

.container .item img {
	display: flex;
	flex: 3 1 auto;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -15px;
}

.container .portfolio-item {
	flex: 1 1 15em;
	background-color: transparent;
}

.container .portfolio-item img {
	display: flex;
	flex: 3 1 auto;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

@media (max-width:800px) {
	main {
	  padding: 50px;
	}

	.title {
		height: 600px;
		margin-top: 100px;
		margin-bottom: 50px;
		padding-bottom: 100px;
		border-bottom: 5px solid var(--text);
	}

	.container .item {
		padding: 30px;
		padding-left: 0;
		padding-right: 0;
	}

	.item h1 {
		margin-top: -30px;
		margin-bottom: 0;
	}

	form {
		margin-top: 50px;
		padding: 50px;
		border: 5px solid var(--text);
	}

	header {
		padding: 50px;
		display: block;
	}

	.header {
		padding: 0px;
		display: block;
	}

	.logo {
		display: block;
		margin-bottom: 35px;
	}

	.navigation {
		display: block;
		padding-bottom: 30px;
	}

	.navigation ul {
		display: block;
		font-size: 110%;
		line-height: 250%;
		padding: 0;
		margin: 0;
	}

	a.navigation {
		display: block;
		margin-top: 0;
		line-height: 120%;
	}

	.work-content {
		display: none;
	}

	.work-list {
		margin-top: 0px;
		margin-bottom: 35px;
	}

	.work-name h2 {
		display: none;
		color: var(--text);
		font-family: 'Cera Pro', sans-serif;
		font-size: 280%;
		font-weight: 700;
		line-height: 140%;
	}

	.work-name a {
		display: inline-block;
		color: var(--text);
		font-family: 'SF UI', sans-serif;
		font-size: 250%;
		font-weight: 400;
		line-height: 140%;
	}

	.work-client {
		position: relative;
		top: 0;
		float: left;
		margin-bottom: 50px;
	}

	.work-client h3 {
		display: block;
		color: var(--text);
		font-family: 'SF UI', sans-serif;
		font-size: 145%;
		font-weight: 400;
		line-height: 140%;
	}

	.introduction {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.introduction h1 {
		display: inline;
		color: var(--text);
		font-family: 'Libre Baskerville', serif;
		font-size: 200%;
		font-style: italic;
		line-height: 160%;
	}

	.introduction h2 {
		display: inline;
		color: var(--text);
		font-family: 'SF UI', sans-serif;
		font-size: 200%;
		font-weight: 400;
		line-height: 160%;
	}
	
	.availability-text h3 {
		position: relative;
		top: -10px;
		left: 15px;
		color: var(--text);
		font-family: 'SF UI', sans-serif;
		font-size: 145%;
		font-weight: 400;
		line-height: 120%;
	}

	footer {
		padding: 50px;
	}

	.footer-container a {
		display: block;
	}

	#right {
		padding-left: 0;
		text-align: left;
	}

	.container .portfolio-item {
		margin: 0;
		padding-top: 25px;
	}

	h4.portfolio {
		margin-bottom: 0;
		color: var(--text);
	  font-size: 200%;
	  font-weight: 700;
	}

	h5.portfolio {
		margin-bottom: 0;
		color: var(--secondary-dark);
	  font-size: 180%;
	  font-weight: 700;
		font-style: italic;
	}

	p.portfolio {
		color: var(--text);
	  font-size: 150%;
	  font-weight: 400;
	}

	p.description {
		color: var(--text);
	  font-size: 120%;
	  font-weight: 400;
	}

	p.caption {
		color: var(--secondary-dark);
	  font-size: 110%;
	  font-weight: 400;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 100px;
	}

}
