/*
MAIN [P03: Portfolio Project]
By: Calista Alex
*/

:root {
	--primary: #0100FE;
	--text: #1F1F1F;
	--secondary-dark: #A4A4A4;
	--secondary-light: #EEEEEE;
	--background: #FEFEFE;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: 'SF UI', sans-serif;
	font-size: 100%;
	background-color: var(--background);
}

main {
	margin-top: 100px;
  padding: 100px;
	background-color: var(--background);
}

.content {
	margin-top: 100px;
	padding-bottom: 50px;
}

.content h2 {
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 280%;
	font-weight: 400;
	line-height: 140%;
	padding-bottom: 50px;
}

.element {
	margin: 50px 0px 50px 0px;
	padding-bottom: 50px;
	border-bottom: 5px solid var(--text);
}

.title {
	height: 600px;
	margin-top: 100px;
	margin-bottom: 150px;
	padding-bottom: 100px;
	border-bottom: 5px solid var(--text);
}

.title-guide {
	height: 600px;
	margin-top: 100px;
	margin-bottom: -30px;
	padding-bottom: 100px;
	border-bottom: 5px solid var(--text);
}

h1.typewrite {
	color: var(--text);
	/* font-family: 'Libre Baskerville', serif; */
	font-family: 'SF UI', sans-serif;
	font-size: 750%;
	/* font-style: italic; */
	font-style: normal;
	line-height: 140%;
  display: inline-block;
  vertical-align: middle;
}

.introduction {
	margin-top: 100px;
	margin-bottom: 100px;
}

.introduction h1 {
	display: inline;
	color: var(--text);
	font-family: 'Libre Baskerville', serif;
	font-size: 280%;
	font-style: italic;
	line-height: 140%;
}

.introduction h2 {
	display: inline;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 280%;
	font-weight: 400;
	line-height: 140%;
}

h2.strategy {
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 200%;
	font-weight: 400;
	line-height: 140%;
}

.details {
	margin-top: 100px;
	margin-bottom: 100px;
}

.work-list {
	margin-top: 35px;
	margin-bottom: 35px;
}

.work-name h2 {
	display: inline;
	color: var(--text);
	font-family: 'Cera Pro', sans-serif;
	font-size: 280%;
	font-weight: 700;
	line-height: 140%;
}

.work-name a {
	display: inline;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 280%;
	font-weight: 400;
	line-height: 140%;
}

.work-client {
	position: relative;
	top: -50px;
	float: right;
}

.work-client h3 {
	display: inline;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 175%;
	font-weight: 400;
	line-height: 140%;
}

.availability-text h3 {
	position: relative;
	top: -10px;
	left: 15px;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 175%;
	font-weight: 400;
	line-height: 120%;
}

.availability, .availability::before {
	float: left;
	content: " ";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	transition: all 0.25s;
	background-color: var(--primary);
}

.availability::before {
	background-color: var(--primary);
	animation: blinking 1.5s infinite;
}

@-webkit-keyframes blinking {
	50%   {
		transform: scale(2);
		opacity: 0;
	}
	100%   {
		transform: scale(2);
		opacity: 0;
	}
}

form {
	padding: 1rem 2rem 2rem 2rem;
	border: 5px solid var(--text);
}

a.social-media {
	display: inline;
	float: left;
	color: var(--text);
	font-size: 175%;
	font-weight: 700;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

a.social-media:hover, a.social-media:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

a.email {
	float: right;
	color: var(--text);
	font-size: 175%;
	font-weight: 700;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

a.email:hover, a.email:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

a.squiggly {
  background: linear-gradient(to bottom, var(--primary) 0%, var(--primary) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a.squiggly:hover {
	color: var(--primary);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230100FE' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none;
}

h1 {
	/* color: var(--primary);
	font-size: 140%;
	font-weight: 700; */
	display: block;
	color: var(--text);
	font-family: 'Libre Baskerville', serif;
	font-size: 280%;
	font-style: italic;
	line-height: 140%;
}

h2 {
	color: var(--primary);
	font-size: 130%;
	font-weight: 700;
}

h3 {
	color: var(--primary);
	font-size: 120%;
	font-weight: 700;
}

h4 {
	color: var(--text);
	font-size: 110%;
	font-weight: 700;
}

h5 {
	color: var(--text);
	font-size: 100%;
	font-weight: 700;
}

p {
	font-size: 100%;
	font-weight: 400;
}

code {
	display: block;
	padding: 12.5px;
	background-color: #EEE;
	color: var(--text);
	font-size: 100%;
	font-weight: 400;
	line-height: 120%;
}

img.title {
	max-width: 75%;
	border: none;
}

header.scroll-up {
	transform: translateY(0);
}

header.scroll-down {
	transform: translateY(-100%);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 300ms ease;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 50px 100px;
	background: var(--background);
	/* border-bottom: 3px solid var(--text); */
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: var(--background);
	/* border-bottom: 3px solid var(--text); */
}

.logo {
	display: flex;
	vertical-align: middle;
}

.navigation {
	display: flex;
	vertical-align: middle;
}

.navigation ul {
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
}

a.navigation {
	color: var(--text);
	font-size: 110%;
	font-weight: 700;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

a.navigation:hover, a.navigation:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

a.navigation-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 110%;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

a.navigation-button:hover, a.navigation-button:focus {
	background-color: var(--primary);
}

a.cta-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 110%;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color, font-style;
	transition-duration: 0.25s;
}

a.cta-button:hover, a.cta-button:focus {
	color: #FFF;
	background-color: var(--primary);
	font-style: italic;
}

.button {
	color: #FFF;
	background-color: var(--text);
	border-style: hidden;
	font-size: 110%;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

.button:hover, .button:focus {
	background-color: var(--primary);
}

a.in-text {
	font-size: 110%;
	font-weight: 700;
  background: linear-gradient(to right, var(--secondary-dark), var(--secondary-dark)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.in-text:hover {
  background-size: 0 10px, 100% 10px;
}

a.in-text:focus {
  background: linear-gradient(to right, var(--primary), var(--primary)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  opacity: 1;
  transition: 0.5s ease;
}

a.image:hover {
  opacity: 0.5;
}

a.image:focus {
  opacity: 1;
}

.item a {
	font-size: 120%;
	font-weight: 700;
	line-height: 140%;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

.item a:hover, .item a:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

.item h3 {
	color: var(--text);
  font-size: 120%;
  font-weight: 400;
}

h4.portfolio {
	margin-bottom: -10px;
	color: var(--text);
  font-size: 200%;
  font-weight: 700;
}

h5.portfolio {
	margin-bottom: -10px;
	color: var(--secondary-dark);
  font-size: 180%;
  font-weight: 700;
	font-style: italic;
}

p.portfolio {
	color: var(--text);
  font-size: 150%;
  font-weight: 400;
}

p.description {
	color: var(--text);
  font-size: 120%;
  font-weight: 400;
}

p.caption {
	color: var(--secondary-dark);
  font-size: 120%;
  font-weight: 400;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

textarea {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 2.5px solid var(--text);
	color: var(--text);
	font-family: 'SF UI', sans-serif;
  font-size: 120%;
  font-weight: 400;
}

.text-input {
  position: relative;
}

input.floating-field {
  display: flex;
	width: 300px;
	background-color: transparent;
	border: none;
  border-bottom: 2.5px solid var(--text);
  padding: 12.5px 5px 12.5px 5px;
  font-size: 120%;
  font-weight: 700;
}

input.floating-field:focus {
  outline: none;
}

label.floating-label {
  position: absolute;
  top: 10px;
	left: 5px;
  color: var(--text);
  font-size: 120%;
  font-weight: 400;
  pointer-events: none;
  transition: 0.25s ease all;
}

input.floating-field:hover ~ label.floating-label, input.floating-field:valid ~ label.floating-label {
  top: -15px;
  color: var(--text);
  font-size: 100%;
}

input.floating-field:focus ~ label.floating-label, input.floating-field:valid ~ label.floating-label {
  top: -15px;
  color: var(--text);
  font-size: 100%;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before {
	content: "";
  position: absolute;
	left: 0%;
  bottom: 0%;
  width: 0;
	height: 5px;
  background: var(--primary);
	border-bottom: 2.5px solid var(--text);
  transition: 0.25s ease all;
}

input.floating-field:focus ~ .bar:before, input.floating-field:focus ~ .bar:after {
  width: 100%;
}

.select-field {
  position: relative;
  border: 2.5px solid var(--text);
	color: var(--text);
  font-size: 120%;
  font-weight: 400;
}

.select-field select {
  display: none;
}

.select-selected {
  background-color: #FFF;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 25px;
  border: 10px solid transparent;
  border-color: var(--primary) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  position: absolute;
  border-color: transparent transparent var(--primary) transparent;
  top: 12.5px;
}

.select-items div, .select-selected {
	padding: 1.25rem 1.25rem;
  color: var(--text);
  outline: 2,5px solid var(--text);
  cursor: pointer;
}

.select-items {
  position: absolute;
  outline: 2.5px solid var(--text);
  background-color: #FFF;
  top: 105%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: var(--secondary-light);
  transition: 0.25s all linear;
}

.same-as-selected {
  background: var(--primary);
  transition: 0.25s all linear;
}

label.radio-button {
  line-height: 140%;
}

input.radio-button {
  position: relative;
  top: 1.5px;
	width: 15px;
  height: 15px;
	margin-right: 5px;
  appearance: none;
  border-radius: 50%;
	border: 2.5px solid var(--text);
  transition: 0.25s all linear;
}

input.radio-button:hover {
  border: 3px solid var(--text);
  transition: 0.25s all linear;
}

input.radio-button:checked {
  background: var(--primary);
  border: 3px solid var(--text);
  transition: 0.25s all linear;
}

.mouse-scroll {
  display: block;
  margin: 0 auto;
  width: 25px;
  height: 100px;
}

.mouse {
  height: 50px;
  width: 25px;
  border-radius: 15px;
  transform: none;
  border: 2.5px solid var(--text);
  top: 180px;
}

.wheel {
  height: 10px;
  width: 5px;
  display: block;
  margin: 5px auto;
  background: #000;
  position: relative;
  height: 7.5px;
  width: 7.5px;
  border: 2.5px solid var(--primary);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.wheel {
  animation: mouse-wheel 1s linear infinite;
}

@-webkit-keyframes mouse-wheel { 0% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } 100% { opacity: 0; -webkit-transform: translateY(6px); -ms-transform: translateY(6px); transform: translateY(6px); } }
@-moz-keyframes mouse-wheel { 0% { top: 1px; } 25% { top: 2px; } 50% { top: 3px; } 75% { top: 2px; } 100% { top: 1px; } }
@-o-keyframes mouse-wheel { 0% { top: 1px; } 25% { top: 2px; } 50% { top: 3px; } 75% { top: 2px; } 100% { top: 1px; } }
@keyframes mouse-wheel { 0% { top: 1px; } 25% { top: 2px; } 50% { top: 3px; } 75% { top: 2px; } 100% { top: 1px; } }
@-webkit-keyframes mouse-scroll { 0% { opacity: 0; } 50% { opacity: 0.5; } 100% { opacity: 1; } }
@-moz-keyframes mouse-scroll { 0% { opacity: 0; } 50% { opacity: 0.5; } 100% { opacity: 1; } }
@-o-keyframes mouse-scroll { 0% { opacity: 0; } 50% { opacity: 0.5; } 100% { opacity: 1; } }
@keyframes mouse-scroll { 0% { opacity: 0; } 50% { opacity: 0.5; } 100% { opacity: 1; } }

.sticky-bound {
	position: relative;
}

.work-content {
  margin: 0 auto;
  width: 80vw;
  max-width: 80vw;
  padding-top: 20vh;
}

.work-container {
  position: sticky;
  margin: 0 auto;
  height: 80vh;
  bottom: 0vh;
}

.work-container img {
  display: block;
  width: auto;
  height: 80%;
  margin: 0 auto;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--text);
	color: var(--text);
  height: auto;
  width: 100vw;
  padding: 50px 100px 50px 100px;
	margin-left: -8px;
	margin-bottom: -8px;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer-container .item {
	flex: 1 1 20em;
	background-color: transparent;
}

.footer-container h1 {
	font-family: "SF UI", sans-serif;
	font-style: normal;
	font-size: 180%;
	color: var(--text);
	padding-bottom: 10px;
	border-bottom: 2.5px solid var(--text);
}

.footer-container h2 {
	font-family: "Cera Pro", sans-serif;
	font-size: 160%;
	color: var(--text);
}

.footer-container h3 {
	font-family: "Libre Baskerville", sans-serif;
	font-style: italic;
	font-size: 140%;
	color: var(--background);
	padding-bottom: 15px;
	border-bottom: 2.5px solid var(--background);
}

.footer-container h4 {
	font-family: "Libre Baskerville", sans-serif;
	font-style: italic;
	font-size: 100%;
	line-height: 120%;
	color: var(--background);
}

.footer-container p {
	color: var(--background);
	line-height: 120%;
}

.footer-container a {
	display: inline;
	color: var(--background);
	font-size: 120%;
	font-weight: 700;
	line-height: 140%;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

.footer-container a:hover, .footer-container a:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

#center {
	padding-right: 50px;
}

#right {
	padding-left: 50px;
	text-align: right;
}
