/*
MAIN [P03: Portfolio Project]
By: Calista Alex
*/

:root {
	--primary: #DC0024;
	--text: #0E1111;
	--gray: #A4A4A4;
}

body {
	background-color: #FFF;
	font-family: 'SF UI', sans-serif;
	font-size: 18px;
	line-height: 100%;
}

main {
	margin-top: 100px;
  padding: 100px;
}

.element {
	margin: 50px 0px 50px 0px;
}

.title {
	color: var(--text);
	font-size: 64px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #FFF;
	border-bottom: 5px solid var(--text);
	margin-bottom: 100px;
}

h2 {
	color: var(--primary);
	font-size: 32px;
	font-weight: 700;
	margin-top: 100px;
	margin-bottom: 50px;
}

h3 {
	color: var(--text);
	font-size: 21px;
	font-weight: 800;
	text-transform: uppercase;
}

h4 {
	font-size: 18px;
	font-weight: 700;
}

p {
	font-size: 18px;
	font-weight: 400;
}

code {
	color: var(--text);
	font-size: 18px;
	font-weight: 400;
  background-color: #EEE;
  display: block;
  padding: 12.5px;
}

header.scroll-up {
	transform: translateY(0);
}

header.scroll-down {
	transform: translateY(-100%);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 300ms ease;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 50px 100px;
	background: #FFF;
}

.logo {
	display: flex;
	vertical-align: middle;
}

.navigation {
	display: flex;
	vertical-align: middle;
}

.navigation ul {
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
}

a.navigation {
	color: var(--text);
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.25s;
}

a.navigation:hover, a.navigation:focus {
	color: var(--primary);
	text-decoration: none;
}

a.navigation-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 18px;
	font-weight: 700;

	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

a.navigation-button:hover, a.navigation-button:focus {
	background-color: var(--primary);
}

a.cta-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

a.cta-button:hover, a.cta-button:focus {
	background-color: var(--primary);
}

a.in-text {
	font-size: 18px;
	font-weight: 700;
  background: linear-gradient(to right, var(--gray), var(--gray)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.in-text:hover {
  background-size: 0 10px, 100% 10px;
}

a.in-text:focus {
  background: linear-gradient(to right, var(--primary), var(--primary)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
