/*
MAIN [P03: Portfolio Project]
By: Calista Alex
*/

:root {
	--primary: #0100FE;
	--text: #1F1F1F;
	--gray: #A4A4A4;
	--lightgray: #EEE;
}

body {
	font-family: 'SF UI', sans-serif;
	font-size: 18px;
	line-height: 120%;
	background-color: #FFF;
}

main {
	margin-top: 100px;
  padding: 100px;
}

.element {
	margin: 50px 0px 50px 0px;
}

.introduction {
	margin-top: 50px;
	margin-bottom: 50px;
}

.introduction h1 {
	display: inline;
	color: var(--text);
	font-family: 'Libre Baskerville', serif;
	font-size: 48px;
	font-style: italic;
	line-height: 140%;
}

.introduction h2 {
	display: inline;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 140%;
}

.details {
	margin-top: 100px;
	margin-bottom: 50px;
}

.details h3 {
	display: inline;
	color: var(--text);
	font-family: 'SF UI', sans-serif;
	font-size: 32px;
	font-weight: 700;
}

h3.identity {
	display: inline;
	font-family: 'Cera Pro', sans-serif;
}

a.squiggly {
  background: linear-gradient(to bottom, var(--primary) 0%, var(--primary) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  color: #000;
  text-decoration: none;
}

a.squiggly:hover {
	color: var(--primary);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%230100FE' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.title {
	color: var(--text);
	font-size: 64px;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #FFF;
	border-bottom: 5px solid var(--text);
	margin-bottom: 100px;
}

h1 {
	color: var(--primary);
	font-size: 42px;
	font-weight: 700;
}

h2 {
	color: var(--primary);
	font-size: 32px;
	font-weight: 700;
}

h3 {
	color: var(--primary);
	font-size: 21px;
	font-weight: 700;
}

h4 {
	color: var(--text);
	font-size: 18px;
	font-weight: 700;
}

h5 {
	color: var(--text);
	font-size: 14px;
	font-weight: 700;
}

p {
	font-size: 18px;
	font-weight: 400;
}

code {
	display: block;
	padding: 12.5px;
	background-color: #EEE;
	color: var(--text);
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}

img.title {
	max-width: 75%;
	border: none;
}

header.scroll-up {
	transform: translateY(0);
}

header.scroll-down {
	transform: translateY(-100%);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 300ms ease;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 50px 100px;
	background: #FFF;
}

.logo {
	display: flex;
	vertical-align: middle;
}

.navigation {
	display: flex;
	vertical-align: middle;
}

.navigation ul {
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: none;
}

a.navigation {
	color: var(--text);
	font-size: 21px;
	font-weight: 700;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

a.navigation:hover, a.navigation:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

a.email {
	color: var(--text);
	font-size: 27px;
	font-weight: 700;
	text-decoration: none;
	transition-property: color, font-style;
	transition-duration: 0.25s;
}

a.email:hover, a.email:focus {
	color: var(--primary);
	font-style: italic;
	text-decoration: none;
}

a.navigation-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

a.navigation-button:hover, a.navigation-button:focus {
	background-color: var(--primary);
}

a.cta-button {
	color: #FFF;
	background-color: var(--text);
	font-size: 21px;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color, font-style;
	transition-duration: 0.25s;
}

a.cta-button:hover, a.cta-button:focus {
	background-color: var(--primary);
	font-style: italic;
}

.button {
	color: #FFF;
	background-color: var(--text);
	border-style: hidden;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	padding: 0.75em 1em 0.75em 1em;
	transition-property: background-color;
	transition-duration: 0.25s;
}

.button:hover, .button:focus {
	background-color: var(--primary);
}

a.in-text {
	font-size: 18px;
	font-weight: 700;
  background: linear-gradient(to right, var(--gray), var(--gray)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.in-text:hover {
  background-size: 0 10px, 100% 10px;
}

a.in-text:focus {
  background: linear-gradient(to right, var(--primary), var(--primary)), linear-gradient(to right, var(--primary), var(--primary));
  background-size: 100% 10px, 0 10px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

textarea {
  width: 100%;
  padding: 15px;
  background-color: transparent;
  border: 2.5px solid var(--text);
	color: var(--text);
	font-family: 'SF UI', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.text-input {
  position: relative;
  margin-top: 35px;
  margin-bottom: 15px;
}

input.floating-field {
  display: flex;
	width: 300px;
	background-color: transparent;
	border: none;
  border-bottom: 2.5px solid var(--text);
  padding: 10px 5px 10px 5px;
  font-size: 21px;
  font-weight: 700;
}

input.floating-field:focus {
  outline: none;
}

label.floating-label {
  position: absolute;
  top: 10px;
	left: 5px;
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
  pointer-events: none;
  transition: 0.25s ease all;
}

input.floating-field:hover ~ label.floating-label, input.floating-field:valid ~ label.floating-label {
  top: -15px;
  color: var(--text);
  font-size: 14px;
}

input.floating-field:focus ~ label.floating-label, input.floating-field:valid ~ label.floating-label {
  top: -15px;
  color: var(--text);
  font-size: 14px;
}

.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before {
	content: "";
  position: absolute;
	left: 0%;
  bottom: 0%;
  width: 0;
	height: 5px;
  background: var(--primary);
	border-bottom: 2.5px solid var(--text);
  transition: 0.25s ease all;
}

input.floating-field:focus ~ .bar:before, input.floating-field:focus ~ .bar:after {
  width: 100%;
}

.select-field {
  position: relative;
  border: 2.5px solid var(--text);
}

.select-field select {
  display: none;
}

.select-selected {
  background-color: #FFF;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 25px;
  right: 25px;
  border: 10px solid transparent;
  border-color: var(--primary) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  position: absolute;
  border-color: transparent transparent var(--primary) transparent;
  top: 12.5px;
}

.select-items div, .select-selected {
	padding: 1.25rem 1.25rem;
  color: var(--text);
  outline: 2,5px solid var(--text);
  cursor: pointer;
}

.select-items {
  position: absolute;
  outline: 2.5px solid var(--text);
  background-color: #FFF;
  top: 105%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover {
  background-color: var(--lightgray);
  transition: 0.25s all linear;
}

.same-as-selected {
  background: var(--primary);
  transition: 0.25s all linear;
}

label.radio-button {
  line-height: 140%;
}

input.radio-button {
  position: relative;
  top: 1.5px;
	width: 15px;
  height: 15px;
	margin-right: 5px;
  appearance: none;
  border-radius: 50%;
	border: 2.5px solid var(--text);
  transition: 0.25s all linear;
}

input.radio-button:hover {
  border: 3px solid var(--text);
  transition: 0.25s all linear;
}

input.radio-button:checked {
  background: var(--primary);
  border: 3px solid var(--text);
  transition: 0.25s all linear;
}
